<p>
    @Label: <input @bind-value="@(UserModel.Color)" type="color" />
</p>

@code {
    [Parameter]
    public User UserModel { get; set; } = new User();

    [Parameter]
    public string Label { get; set; } = string.Empty;
}
