@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager

<EditForm Model="@User" Context="CurrentEditContext" OnValidSubmit="@Submit">
    <FluentValidationValidator />

    <UserColorInput Label="Your Color" UserModel="@User"/>
    <UserHandleInput Label="Your Handle" UserModel="@User" />

    <button type="submit">Let's Chat!</button>

    <ValidationSummary />
</EditForm>


@code {
    User User { get; set; } = new User();

    protected override async Task OnInitializedAsync()
    {
        if(await localStorage.ContainKeyAsync(LocalStorageKeys.UserData))
        {
            var userData = await localStorage.GetItemAsync<User>(LocalStorageKeys.UserData);

            User = userData;
        }
    }

    public async Task Submit()
    {
        await localStorage.SetItemAsync<User>(LocalStorageKeys.UserData, User);

        NavigationManager.NavigateTo(PageLinks.Root);
    }
}
