<p>
    @Label: <InputText @bind-Value="@UserModel.Handle"/>
</p>

@code {
    [Parameter]
    public User UserModel { get; set; } = new User();

    [Parameter]
    public string Label { get; set; } = string.Empty;
}
