@inject NavigationManager NavigationManager
@inject HttpClient httpClient


@implements IAsyncDisposable

<div class="message-list">
    <div class="message-container">
        @for (int i = 0; i < chatMessages.Count; i++)
        {
            var message = chatMessages[i];
            var isLast = chatMessages.Count == i + 1;
            <ChatMessageElement Message="@message" IsLast="@isLast"/>
        }
    </div>
</div>
@code {
    private HubConnection hubConnection;
    private IList<ChatMessage> chatMessages = new List<ChatMessage>();

    protected override async Task OnInitializedAsync()
    {
        await InitializeSignalRHub();
        await PopulateExistingMessages();
    }

    private async Task PopulateExistingMessages()
    {
        var allMessages = await httpClient.GetFromJsonAsync<ChatMessage[]>("Message");
        chatMessages = allMessages.ToList();
    }

    private async Task InitializeSignalRHub()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri(UriSegments.ChatHub))
            .Build();

        hubConnection.On<ChatMessage>("MessagesUpdated", HandleMessage);

        await hubConnection.StartAsync();
    }

    private void HandleMessage(ChatMessage message)
    {
        chatMessages.Add(message);
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        await hubConnection.DisposeAsync();
    }
}