@page "/"

@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager

<div class="grid-container">
    <div class="grid-element"></div>
    <div class="grid-element sidebar"><ChatComponent /></div>
</div>

@* <ChatComponent /> *@

@code {
    protected override async Task OnInitializedAsync()
    {
        var userDataExists = await localStorage.ContainKeyAsync(LocalStorageKeys.UserData);

        if(!userDataExists)
        {
            NavigationManager.NavigateTo(PageLinks.EditUserData);
        }
    }
}