.grid-container {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto minmax(400px, 700px);
    height: 100%;
}

.grid-element {
    height: 100%;
}

.sidebar {
    resize: horizontal;
    overflow: hidden;
    min-width: 400px;
    max-width: 700px;
    direction: rtl;
    right: 0px;
    position: absolute;
}