@page "/Register"

@inject HttpClient _httpClient
@inject NavigationManager _navigationManager
@inject ILogger<Register> _logger

<EditForm Model="_model" OnValidSubmit="@RegisterNewUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
    Email: <InputText id="name" @bind-Value="_model.Email" />
    </div>
    <div>
    Password: <InputText type="password" id="password" @bind-Value="_model.Password" />
    </div>
    <div>
    Confirm password: <InputText type="password" id="confirmPassword" @bind-Value="_model.PasswordConfirmation" />
    </div>

    <button type="submit">Submit</button>
</EditForm>

@code {
    public AccountRegistrationModel _model { get; set; } = new();

    async Task RegisterNewUser()
    {
        using (var response = await _httpClient.PostAsJsonAsync<AccountRegistrationModel>("AccountCreate", _model))
        {
            var result = await response.Content.ReadFromJsonAsync<AccountRegistrationResultModel>();

            if(result == null) return;

            if (result.WasSuccessful)
            {
                _navigationManager.NavigateTo(string.IsNullOrEmpty(result.ReturnUrl) ? PageLinks.Root : result.ReturnUrl, true);
            }
            else
            {
                _logger.LogWarning($"Result wasn't successful, error messages are [${string.Join(',',result.Errors)}]");
            }
        }
    }
}
